

.quick-start-container {
    color: var(--how-to-color);
    width: 100vw;
    padding-bottom: 20px;
    position: relative;
    z-index: 10;
    background: var(--quick-start-background);
    border-top: solid 3px var(--quick-start-border);
}

.quick-start-header {
    padding: 30px 10px 0 10px;
    margin: 0 20px 10px 20px;
    border-bottom: solid 2px var(--quick-start-header-border);
}

.how-to {
    margin: 0 20px 10px 20px;
    background: var(--how-to-background);
    padding-bottom: 10px;
}

.how-to h1 {
    padding: 10px 10px 0 10px;
    font-size: 1.7rem;
}

.how-to-content {
    padding: 10px;
    background: var(--how-to-content-background);
    margin: 10px;
    border: solid 2px var(--how-to-content-border);
    box-sizing: border-box;
}

.notice {
    background: var(--notice-background);
    padding: 5px;
    border-left: solid 5px var(--notice-border);
    color: var(--notice-color);
}