<div class="quick-start-container">
    <div class="quick-start-header">
        <p>PurchArena is an all-in-one platform for building and playing Magic: The Gathering decks, combining official cards with user-created custom cards. Welcome to version <b>1.2.0</b> :)</p>
    </div>
    <div class="how-to build">
        <h1 class="beleren-bold">Building Your Deck</h1>
        <div class="how-to-content">
            <p><b>Getting Started</b></p>
            <p>To start building, click the <b>Build</b> button to be navigated to the build page.</p>
            <p>Next follow these steps to create a new deck:</p>
            <ul>
                <li>Enter a name for your deck in the text area provided.</li>
                <li>Click <b>Create</b>.</li>
            </ul>
            <p>
                Once you've created your deck, you can search for cards using the search 
                bar at the top of the page. Right click a card and select <b>Add to Deck</b>
                to add the card into your current deck.
            </p>
            <p><b>Importing/Exporting Decks</b></p>
            <p>The build page includes a feature to either import or export decks. To export a deck follow these steps:</p>
            <ul>
                <li>Select a deck using the <b>Select Deck</b> dropdown.</li>
                <li>Click the settings icon and select <b>Download</b>.</li>
                <li>A JSON file named after your deck will be downloaded in your browser.</li>
            </ul>
            <p>To import a deck, follow these steps:</p>
            <ul>
                <li>Select a deck using the <b>Select Deck</b> dropdown, or create a new deck.</li>
                <li>Click the settings icon and select either:</li>
                <ul>
                    <li><b>Import from JSON</b> (if you have a file with type .json).</li>
                    <li><b>Import from text</b> (if you have a .txt file, which is standard for other deck building clients like MoxField or ArchiDekt).</li>
                </ul>
                <li>After selecting an option you will be prompted to upload a deck list.</li>
                <li>Selecting and uploading a deck list will populate the current deck with those cards.</li>
            </ul>
            <p>Deck lists from other deck building clients are supported.</p>
            <p class="notice">Double-sided cards are currently <b>not supported</b>.</p>
            <p>Other important features:</p>
            <ul>
                <li>To remove a card from your deck, right click it and select <b>Remove Card</b>.</li>
                <li>You can sort your deck by creature type or mana cost using the <b>Sort By</b> dropdown.</li>
                <li>To designate a commander for your deck, right click a card and click <b>Set Commander</b> (this will move the card to the top of the deck).</li>
            </ul>
            <p class="notice">Clicking <b>Delete</b> will erase the current deck, this action cannot be undone.</p>
        </div>
    </div>

    <div class="how-to play">
        <h1 class="beleren-bold">Playing</h1>
        <div class="how-to-content">
            <p>Click the <b>Play</b> button to be navigated to the play page.</p>
            <p>More information coming soon!</p>
        </div>
    </div>
</div>

