<div class="release-notes-container animate__animated animate__fadeInRight">
    <div class="release-content">
        <h1 class="beleren-bold">1.2.1</h1>
        <p>
            This patch includes:
        </p>
        <ul>
            <li>UI Fixes for how opponents cards are positioned</li>
            <li>Now shows if opponent's cards are tapped or not</li>
            <li>Make sure counters on opponents cards are shown</li>
            <li>Fixes for small UI mistakes</li>
        </ul>
        <p>
            Coming soon:
        </p>
        <ul>
            <li>Up to 4 player games</li>
            <li>Simplified room creation/joining</li>
        </ul>
        <p>
            A little further away:
        </p>
        <ul>
            <li>Profile customization</li>
            <ul>
                <li>Profile picture</li>
                <li>Custom username</li>
            </ul>
            <li>Profile picture and name will be shown to other players</li>
        </ul>
        <br>
        <h1 class="beleren-bold">1.2.0</h1>
        <p>
            This minor release includes:
        </p>
        <ul>
            <li>Online Multiplayer!</li>
            <ul>
                <li>Still in early development</li>
                <li>Limited to <b>two person games</b></li>
                <li>A little confusing to set up (a guide will be created soon)</li>
            </ul>
        </ul>
        <p>
            I'm releasing online multiplayer in it's unfinished state.
            I plan to refine/complete it and when done, I will release
            <b>version 2.0.0</b>.
        </p>

        <p class="notice">
            Multiplayer functionality depends on ngrok, <b>
                an auth token is necessary</b>. You need to create a <b>.env</b> file in the root dir
            of the app, and enter your auth token with the following syntax:
            <b>NGROK_AUTH_TOKEN=&lt;your-auth-token&gt;</b>
        </p>
        <p>
            You can still use the app in the same way you did before (screen sharing).
        </p>
        <br>
        <h1 class="beleren-bold">1.1.0</h1>
        <p>
            This minor release includes:
        </p>
        <ul>
            <li>UI Fixes</li>
            <li>Dark/Light mode</li>
        </ul>
        <p>
            <b>
                Switch between dark and light themes by using the toggle in
                the top left of home page!
            </b>
        </p>
        <br>
        <h1 class="beleren-bold">1.0.0</h1>
        <p>
            First official release! From this point forward you will be able
            to find notes on each minor and major release here.
        </p>
        <p>
            New features in this initial release:
        </p>
        <ul>
            <li>UI Overhaul</li>
            <li>Quick-start guide (still in progress)</li>
        </ul>
        <p>
            The app should still function the same as it did before,
            <b>please let me know if you notice any bugs or have any 
            suggestions.</b>
        </p>
        <p>
            Features in progress:
        </p>
        <ul>
            <li>Light/Dark mode</li>
            <li>Custom card creation</li>
            <li>Support for double sided cards</li>
        </ul>
        <p>
            Although custom card creation is still under development,
            you can find a pre-release version by visiting 
            <a routerLink="create"><b>http://localhost:4200/create</b></a>
        </p>
    </div>
</div>
