

<div class="main-home">
    <div class="purch-nav animate__animated animate__fadeInDown animate__delay-1s">
        <div class="left">
            <label class="switch">
                <input type="checkbox" (change)="toggleTheme($event)">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="right">
            <div class="settings-container">
                <!--release info button-->
                <span class="settings-icon material-icons" (click)="toggleSettings()">settings</span>
            </div>        
        </div>
    </div>

    <div (click)="toggleReleaseNotes()" class="release-notes animate__animated animate__fadeInRight animate__delay-1s">
        <p class="beleren-bold">{{releaseText}}</p>
    </div>
    
    <div *ngIf="showSettings" class="settings-dropdown">
        <a (click)="downloadBoth()" class="settings-option">Download Decks</a>
        <label class="settings-option">
            Import Decks<input type="file" (change)="uploadFile($event)" accept=".json" hidden />
        </label>
        <a (click)="openSaveModal()" class="settings-option">Manage Saved Games</a>
        <a class="settings-option version beleren-bold">Version: 1.2.1</a>
    </div>

    <div class="home-container container d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <div class="purch-header">
                <h1 class="beleren-bold animate__animated animate__pulse">PurchArena</h1>
                <ng-container *ngFor="let symbol of manaSymbols">
                    <img [src]="getManaSymbolPath(symbol)" [alt]="symbol + ' mana symbol'">
                </ng-container>
            </div>
        </div>
    </div>
    
    <div class="purch-btns animate__animated animate__fadeInLeft animate__delay-1s">
        <a routerLink="build" class="purch-btn ">BUILD</a>
        <a routerLink="play" class="purch-btn purch-btn-alt">PLAY</a>
    </div>

    <div class="quick-start animate__animated animate__fadeInUp animate__delay-1s">
        <h1 class="beleren-bold">Quick Start Guide</h1>
    </div>
    
    <!-- Modal for Managing Game Saves -->
    <div class="save-modal" *ngIf="showSaveModal">
        <div class="modal-content">
      
          <!-- Dropdown of saved states -->
          <select [(ngModel)]="selectedSavedState" class="saved-state-select">
            <option *ngFor="let state of savedStates" [value]="state">{{ state }}</option>
          </select>
      
          <div class="modal-actions">
            <button class="purch-btn" (click)="deleteSelectedState()">Delete</button>
            <button class="purch-btn" (click)="closeSaveModal()">Cancel</button>
          </div>
        </div>
    </div>
</div>

<app-quick-start></app-quick-start>
<app-release-notes *ngIf="releaseNotes"></app-release-notes>

